.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #222222;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  flex: 1;
  cursor: pointer;
}

.navbar-logo img {
  height: 45px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 35px;
  margin-right: 50px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}